<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <Title>Xác thực thành công</Title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <style>
            .container {
                text-align: center;
                margin-top: 10%;
                font-family: 'Roboto', sans-serif;
            }
            h1 {
              color: #FB6B43;  
            }
            p {
                color: grey;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Chúc mừng bạn đã xác thực email thành công</h3>
            <p>Chúc mừng bạn đã xác thực thành công. Vui lòng quay lại app để tiếp tục.</p>
        </div>
    </body>
</html>